/* Image */
#img_1 {
  width: 100px;
  height: 100px;
}
img {
  width: 50%;
}

/* Text */
h1 {
  background-color: red;
  color: white;
}

#selections {
  display: block;
  font-size: 20px;
}
#intro {
  background-color: brown;
  color: white;
}
#intro h2 {
  text-align: center;
  font-size: 40px;
}
#intro p {
  font-size: 30px;
  font-weight: 20px;
}
#intro span {
  color: black;
  font-weight: bold;
  font-style: italic;
}
#develope {
  background-color: brown;
  color: white;
}
#develope h2 {
  text-align: center;
  font-size: 40px;
}
#develope ul {
  font-size: 30px;
}
/* CSS cho Bảng giá nước*/
h2 {
  text-align: center;
  font-size: 40px;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: initial;
}
thead {
  text-align: center;
  font-weight: bold;
}
.green_tea td{
  
  height: 100vh;
}
